.git
.gitattributes
.gitignore
node_modules
vendor
public/build
public/hot
public/storage

storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
storage/*.key
storage/pail
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/testing/.gitignore
!storage/framework/views/.gitignore

.env
.env.backup
.env.production
!.env.example

.editorconfig
.idea
.vscode
.nova
.zed
.codex
.cursor
.phpunit.cache
.phpunit.result.cache

tests
README.md
docker-compose.yml
Dockerfile

Indo Blader (standalone) (1).html
Indo Blader (standalone) (1).html:Zone.Identifier
